{% extends "base.html" %}
{% block content %}
<!-- Main Content Area -->
        <div class="ml-64 w-full">
            <!-- Top Navigation -->
            {% include "webapp/search.html" %}

            <!-- Main Content -->
            <div class="container mx-auto mt-20 px-4 grid grid-cols-12 gap-6">
                <!-- Stories Section -->
                 {% include "webapp/stories.html" %}
                
                <!-- Posts Section -->
                <div class="col-span-8">
                    {% for post in posts %}

                    <!-- Post 1 -->
                    <div class="bg-white rounded-lg shadow-md mb-6 post-animation">
                        <div class="flex items-center p-4">
                            <img 
                                src="https://via.placeholder.com/150" 
                                class="w-10 h-10 rounded-full mr-3"
                            >
                            <div>
                                <h3 class="font-semibold">{{post.user}}</h3>
                                <p class="text-gray-500 text-sm"> {{post.location}} </p>
                            </div>
                        </div>
                        <img 
                            src="{{ post.image.url}}" 
                            class="w-full h-96 object-cover"
                        >
                        <div class="p-4">
                            <div class="flex justify-between items-center mb-3">
                                <div class="flex space-x-4">
                                    <button class="text-gray-700 hover:text-red-500">
                                        <i class="fas fa-heart"></i>
                                        <span class="ml-2">245</span>
                                    </button>
                                    <button class="text-gray-700 hover:text-blue-500">
                                        <i class="fas fa-comment"></i>
                                        <span class="ml-2">34</span>
                                    </button>
                                </div>
                                <button class="text-gray-700 hover:text-blue-500">
                                    <i class="fas fa-bookmark"></i>
                                </button>
                            </div>
                            <p class="text-gray-800">
                                <strong> @ {{post.user}}</strong>  {{ post.title }}
                            </p>
                            <p class="text-gray-500 text-sm mt-2">{{post.datetime}}</p>
                        </div>
                    </div>

                    {% endfor %}
                    

                

                
            </div>
            <!-- Sidebar -->
            {% include "webapp/sidebar.html" %}
        </div>

        {% endblock %}